@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$black: #121111;
$grey: #1d1a1a;
$white: #e8eaea;
$border: .1rem solid $grey;


.center-module{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    padding: 0 2%;
    .box-layout{
        width: 100%;
        max-width: 800px;
        padding: 15px 2%;
        border: .1rem solid $grey;
        nav.navigation-bar{
            display: flex;
            justify-content: space-around;
            gap: 15px;
            a{
                color: $white;
                font-size: .8rem;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .container{
            .form-login{
                width: 100%;
                padding: 30px 0;
                display: flex;
                justify-content: center;
                form{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 300px;
                    gap: 15px;
                    input{
                        padding: 5px;
                        background-color: transparent;
                        border: .1rem solid $grey;
                    }
                    input[type="submit"]{
                        background-color: $grey;
                        color: $white;
                        cursor: pointer;
                    }
                    p{
                        font-size: .8rem;
                        color: $white;
                    }
                }
            }
            .form-new-repo{
                display: flex;
                justify-content: center;
                padding: 30px 0;
                form{
                    width: 100%;
                    max-width: 400px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    input[type="text"]{
                        padding: 5px;
                        border: $border;
                        background-color: transparent;
                        color: $white;
                    }
                    fieldset{
                        border: 0;
                        display: flex;
                        justify-content: center;
                        gap: 25px;
                        div{
                            display: flex;
                            gap: 10px;
                            color: $white;
                        }
                    }
                    input[type="submit"]{
                        background-color: $grey;
                        border: $border;
                        color: $white;
                        padding: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}